{% extends 'baseListAcercaDe.html' %}

{% block title %}
Acerca De
{% endblock %}

{% block content %}

<div class="section acercaDe">
    <div class="acercaDeImg">
        <div class="row ml-auto mr-auto">
            <h2 style="font-weight: 1000;">TRANSVERSAL THINK TANK</h2>

        </div>

        <div class="row ml-auto mr-auto">
            <p>En transversal transformamos ideas en soluciones públicas por medio de la generación de
                conocimiento útil. Somos una organización que busca resolver los problemas públicos por
                medio
                de: </p>

        </div>

        <div class="row pb-5 mb-5 ml-auto mr-auto" style="justify-content: space-evenly;">

            <div class="col-md-3 ml-auto mr-auto" style="background-color: white;">
                <h3 class="title text-primary text-center" style="font-weight: 1000;">a) <br> Incidencia
                    pública
                </h3>
            </div>

            <div class="col-md-3 ml-auto mr-auto" style="background-color: white;">
                <h3 class="title text-primary text-center" style="font-weight: 1000;">b) <br> Desarrollo de
                    capacidades</h3>
            </div>

            <div class="col-md-3 ml-auto mr-auto" style="background-color: white;">
                <h3 class="title text-primary text-center" style="font-weight: 1000;">c) <br> Iniciativas de
                    política pública</h3>
            </div>

        </div>

        <div class="row ml-auto mr-auto">
            <p>Desde la publicación de un tuit hasta un libro, incluyendo una conferencia abierta o una
                misión
                de estudios, Transversal se plantea una amplia gama de productos y proyectos que permitan
                cumplir su propósito.
            </p>

        </div>
    </div>


    <br>
    <br>


    <div class="row ml-auto mr-auto">
        <p> El campo de conocimiento del think tank es el de la gobernanza y las políticas públicas. La
            agenda de trabajo incluye, pero no se limita a, tres líneas temáticas: </p>

    </div>

    <div class="row ml-auto mr-auto">
        <h4 class=" text-primary" style="font-weight: 1000;">Gobiernos subnacionales y ciudades
            metropolitanas</h4>

    </div>
    <div class="row ml-auto mr-auto">
        <h4 class=" text-primary" style="font-weight: 1000;">Rendición de cuentas e instituciones
            responsivas</h4>

    </div>
    <div class="row ml-auto mr-auto">
        <h4 class=" text-primary" style="font-weight: 1000;">Análisis y evaluación de políticas</h4>
    </div>

    <br>
    <br>

    <div class="row ml-auto mr-auto">
        <p>Transversal no solo es un método de análisis, sino una perspectiva de la realidad. Según la Real
            Academia de la Lengua Española, transversal significa que se extiende atravesando de un lado a
            otro; que cruza en dirección perpendicular con aquello de que se trata; que atañen a distintos
            ámbitos o disciplinas; que estudia la estructura un problema. Transversal es uno de los mantras
            de la Agenda 2030 del desarrollo sostenible que plantea la necesidad de abordar los retos del
            desarrollo de forma integral, holística, transversal. </p>

    </div>

    <br>

    <div class="row pb-4 ml-auto mr-auto">
        <h2 style="font-weight: 1000;">INTEGRANTES</h2>

    </div>



    <div class="teamSection">


        <!-- TEAM ROW -->
        <div class="row mb-5 ml-5 mr-auto">

            <!-- SINGLE TEAM MEMBER -->
            <div class="col-md-6 ml-auto mr-auto">

                <!-- TEAM MEMBER IMG DESC -->
                <div class="row ml-auto mr-auto">
                    <div class="col-md-6 ml-auto mr-auto">
                        <a href="ejemploAcercaDe.html">
                            <img class="img-fluid img-raised rounded-circle"
                                src="http://transversalthinktank.org/storage/team_images/EUD3Jiz5bTd5w0ABnbfxSrnHJf5gpqdtdZcjJYRj.jpeg"
                                alt="">
                        </a>

                    </div>
                    <!-- DESC -->
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="row ml-auto mr-auto">
                            <a href="" class="h3">
                                David Gómez-Álvarez
                            </a>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <p>Director ejecutivo de Transversal</p>
                        </div>
                    </div>

                </div>


            </div>

            <!-- SINGLE TEAM MEMBER -->
            <div class="col-md-6 ml-auto mr-auto">

                <!-- TEAM MEMBER IMG DESC -->
                <div class="row ml-auto mr-auto">
                    <div class="col-md-6 ml-auto mr-auto">
                        <a href="">
                            <img class="img-fluid img-raised rounded-circle"
                                src="http://transversalthinktank.org/storage/team_images/p9hhfA6hguNBKeXtL2l7TLfdJ4CyY9bMxUGMZuc2.jpeg"
                                alt="">
                        </a>

                    </div>
                    <!-- DESC -->
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="row ml-auto mr-auto">
                            <a href="" class="h3">
                                Felipe Medel Terrones
                            </a>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <p>Investigador</p>
                        </div>
                    </div>

                </div>


            </div>


        </div>

        <!-- TEAM ROW -->
        <div class="row mb-5 ml-5 mr-auto">

            <!-- SINGLE TEAM MEMBER -->
            <div class="col-md-6 ml-auto mr-auto">

                <!-- TEAM MEMBER IMG DESC -->
                <div class="row ml-auto mr-auto">
                    <div class="col-md-6 ml-auto mr-auto">
                        <a href="">
                            <img class="img-fluid img-raised rounded-circle"
                                src="http://transversalthinktank.org/storage/team_images/DkHqXitCOZCtrIDUpm7XRnXC2pmg51WOHxy03hyf.jpeg"
                                alt="">
                        </a>

                    </div>
                    <!-- DESC -->
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="row ml-auto mr-auto">
                            <a href="" class="h3">
                                Calep Pimienta González
                            </a>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <p>Investigador</p>
                        </div>
                    </div>

                </div>


            </div>

            <!-- SINGLE TEAM MEMBER -->
            <div class="col-md-6 ml-auto mr-auto">

                <!-- TEAM MEMBER IMG DESC -->
                <div class="row ml-auto mr-auto">
                    <div class="col-md-6 ml-auto mr-auto">
                        <a href="">
                            <img class="img-fluid img-raised rounded-circle"
                                src="http://transversalthinktank.org/storage/team_images/lkTZeaNZgRitGvelftsJeMLhgOVtHy5wgSfoMglG.jpeg"
                                alt="">
                        </a>

                    </div>
                    <!-- DESC -->
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="row ml-auto mr-auto">
                            <a href="" class="h3">
                                Jessica Correa Ochoa
                            </a>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <p>Investigadora</p>
                        </div>
                    </div>

                </div>


            </div>


        </div>

        <!-- TEAM ROW -->
        <div class="row mb-5 ml-5 mr-auto">

            <!-- SINGLE TEAM MEMBER -->
            <div class="col-md-6 ml-auto mr-auto">

                <!-- TEAM MEMBER IMG DESC -->
                <div class="row ml-auto mr-auto">
                    <div class="col-md-6 ml-auto mr-auto">
                        <a href="">
                            <img class="img-fluid img-raised rounded-circle"
                                src="http://transversalthinktank.org/storage/team_images/EZFvZfs2l0EV6VBYn8ebTKPXkiybV4DiUOAH2Lvr.png"
                                alt="">
                        </a>

                    </div>
                    <!-- DESC -->
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="row ml-auto mr-auto">
                            <a href="" class="h3">
                                Fernanda Elías Loyola
                            </a>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <p>Investigadora</p>
                        </div>
                    </div>

                </div>


            </div>

            <!-- SINGLE TEAM MEMBER -->
            <div class="col-md-6 ml-auto mr-auto">

                <!-- TEAM MEMBER IMG DESC -->
                <div class="row ml-auto mr-auto">
                    <div class="col-md-6 ml-auto mr-auto">
                        <a href="">
                            <img class="img-fluid img-raised rounded-circle"
                                src="http://transversalthinktank.org/storage/team_images/mfAqgCZBMspBhI4I4CYsDZGC63cg5t6GUGgas6JF.jpeg"
                                alt="">
                        </a>

                    </div>
                    <!-- DESC -->
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="row ml-auto mr-auto">
                            <a href="" class="h3">
                                Monserrat Enríquez
                            </a>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <p>Coordinadora de comunicación y redes</p>
                        </div>
                    </div>

                </div>


            </div>


        </div>

        <!-- TEAM ROW -->
        <div class="row mb-5 ml-5 mr-auto">

            <!-- SINGLE TEAM MEMBER -->
            <div class="col-md-6 ml-auto mr-auto">

                <!-- TEAM MEMBER IMG DESC -->
                <div class="row ml-auto mr-auto">
                    <div class="col-md-6 ml-auto mr-auto">
                        <a href="">
                            <img class="img-fluid img-raised rounded-circle"
                                src="http://transversalthinktank.org/storage/team_images/3XH2hfHbuBEwlBvCmdnQb0ezYUskelavr4mDpKbV.jpeg"
                                alt="">
                        </a>

                    </div>
                    <!-- DESC -->
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="row ml-auto mr-auto">
                            <a href="" class="h3">
                                Oliver Meza
                            </a>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <p>Colaborador asociado</p>
                        </div>
                    </div>

                </div>


            </div>

            <!-- SINGLE TEAM MEMBER -->
            <div class="col-md-6 ml-auto mr-auto">

                <!-- TEAM MEMBER IMG DESC -->
                <div class="row ml-auto mr-auto">
                    <div class="col-md-6 ml-auto mr-auto">
                        <a href="">
                            <img class="img-fluid img-raised rounded-circle"
                                src="http://transversalthinktank.org/storage/team_images/We6fS3Q9qsvWc36ONo3St4sUhbcitjxG0snDxOnl.jpeg"
                                alt="">
                        </a>

                    </div>
                    <!-- DESC -->
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="row ml-auto mr-auto">
                            <a href="" class="h3">
                                Ana Cecilia de Alba González
                            </a>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <p>Colaboradora asociada</p>
                        </div>
                    </div>

                </div>


            </div>


        </div>
    </div>


</div>

{% endblock %}