{% extends 'baseBackend.html' %}

{% block title %}
Inicio
{% endblock %}

{% block content %}
<br>
<br>
<h1>Panel Administrativo Transversal</h1>
<div style="text-align: justify; font-size: 1.1em;">
<p> Bienvenido al panel administrativo de Transversal, donde podrás realizar múltiples operaciones para controlar y
    administrar el contenido de la página. Visita cualquiera de las secciones en la barra de navegacion que se encuentra
    arriba, pero antes, asegurate de haber creado un usuario y haber iniciado sesión. </p>
</div>
{% endblock %}