{% extends 'baseBackend.html' %}

{% block title %}
Publicaciones Blog Transversal
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<br>
<br>
<h1>Publicaciones Blog Transversal</h1>

{% for post in object_list %}

<div class="row ml-auto mr-auto">

    <ul>
        <li>
            <a href="{% url 'BlogTransversal-detail' post.pk %}">
                <h4>{{ post.title }}</h4>
            </a>

            <p>{{ post.snippet }}</p>
            
            <br>
            <a class="btn btn-primary" href="{% url 'update_BlogTransversal' post.pk %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'delete_BlogTransversal' post.pk %}">Eliminar</a>
            

        </li>
    </ul>
</div>


<hr>

{% endfor %}

{% else %}
<br>
<br>
<h1>No eres permitido aquí! (y lo sabes...)</h1>

{% endif %}

{% endblock %}