{% extends 'baseArticleDetails.html' %}
{% block title %}
{{ post.title_tag }}
{% endblock %}

{% block content %}

<div class="section detalles ">

    <div class="row ml-auto mr-auto">
        <a href="{% url 'article_list' %}" class="h2" style="font-weight: 1000;">PUBLICACIONES</a>
    </div>

    <div class="row ml-auto mr-auto acercaDe">
        <h3 class="text-primary " style="font-weight: 1000; font-size: 2em;"> {{ post.title }} </h3>
    </div>

    <div class="row ml-auto mr-auto">
        <p class="text-muted h4" style="font-weight: 1000;">
            {% load i18n %}
            {% language 'es' %}
            {{ post.post_date }}
            {% endlanguage %}
        </p>
    </div>

    <div class="row ml-auto mr-auto">
        <p class="text-muted h4" style="font-weight: 1000;">{{ post.author.first_name }} {{ post.author.last_name }}</p>
    </div>


    <div class="row pb-5 ml-auto mr-auto">
        <div class="col-md-8 ml-auto mr-auto">

            <img class="img-fluid img-raised" src="{{ post.header_image.url }}" alt="">
        </div>

    </div>


    <div class="row pb-4 ml-auto mr-auto acercaDe" style="padding-left: 5%; text-align: justify;">
        <p>
            {{ post.body|safe }}
        </p>
    </div>

    <div class="row pb-4 ml-auto mr-auto acercaDe" style="padding-left: 5%;">
        <button class="btn btn-primary btn-round">Descargar</button>
    </div>

    <div class="row pb-5 ml-auto mr-auto acercaDe">
        <h4 class="text-primary">Tags</h4>
    </div>

    <div class="row pb-5 ml-auto mr-auto tags acercaDe" style="padding-left: 5%;">
        <a href="{% url 'category' post.category|slugify %}"> <button class="btn btn-default btn-round">
                {{post.category}}
            </button> </a>
    </div>

    <div class="row ml-auto mr-auto acercaDe">
        <h4 class="text-primary" style="font-size: 2em;">Publicaciones Similares</h4>
    </div>

    <div class="carouselContainer pb-5">
        <div class="carousel" data-flickity='{ "groupCells": 2, "lazyLoad": 2  }'>

            {% for post in post_tag_list %}

            <div class="carousel-cell pr-5 pl-5">
                <h5>{{ post.title }}</h5>
                <div class="img-hover-zoom">
                    <a href="{% url 'article-detail' post.pk %}">
                        <img class="carousel-image" data-flickity-lazyload="{{ post.header_image.url }}" />
                    </a>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>

</div>


{% endblock %}