{% extends 'baseListArticles.html' %}

{% block title %}
Publicaciones
{% endblock %}

{% block content %}

<div class="section">

    <div class="row ml-auto mr-auto">
        <h2 style="font-weight: 1000;">Publicaciones</h2>

    </div>

    <!-- TRANSVERSAL DIA A DIA -->

    {% comment %} {% for post in object_list %}

    <div class="row ml-auto mr-auto diaLanding" style="justify-content: space-evenly;">

        <div class="col-md-4 ml-auto mr-auto ">
            <div class="img-hover-zoom">
                <a href="{% url 'article-detail' post.pk %}"> <img class="img-fluid img-raised"
                        src="{{ post.header_image.url }}" alt=""></a>
            </div>
        </div>

        <div class="col-md-8 ml-auto mr-auto">
            <a href="{% url 'article-detail' post.pk %}">
                <h4 class="text-primary">{{ post.title }}</h4>
            </a>

            <h5>{{ post.snippet }}</h5>
        </div>

    </div>

    <hr>

    {% endfor %} {% endcomment %}

    {% for post in page_obj %}

    <div class="row ml-auto mr-auto diaLanding" style="justify-content: space-evenly;">

        <div class="col-md-4 ml-auto mr-auto ">
            <div class="img-hover-zoom">
                <a href="{% url 'article-detail' post.pk %}"> <img class="img-fluid img-raised"
                        src="{{ post.header_image.url }}" alt=""></a>
            </div>
        </div>

        <div class="col-md-8 ml-auto mr-auto">
            <a href="{% url 'article-detail' post.pk %}">
                <h4 class="text-primary">{{ post.title }}</h4>
            </a>

            <h5>{{ post.snippet }}</h5>

            <p class="text-muted h5" style="font-weight: 1000;">

                {% if post.author and post.optional_author %}
                Escrito por:
                {% for item in post.author %}

                {{ item }},

                {% endfor %}

                {{ post.optional_author }}
                

                {% elif post.author %}
                Escrito por:
                {% for item in post.author %}

                {% if forloop.last %}
                {{ item }}
                {% else %}
                {{ item }},
                {% endif %}

                {% endfor %}

                {% elif post.optional_author %}
                Escrito por:
                {{ post.optional_author }}

                {% endif %}

            </p>

            {% if post.past_Publication_Date %}

            <p class="text-muted h5" style="font-weight: 1000;">
                {{ post.past_Publication_Date }}
            </p>

            {% else %}

            <p class="text-muted h5" style="font-weight: 1000;">
                {% load i18n %}
                {% language 'es' %}
                {{ post.post_date }}
                {% endlanguage %}
            </p>

            {% endif %}

        </div>

    </div>

    <hr>

    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}

            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; Primera</a>
            </li>

            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>

            {% endif %}


            <li class="page-item active">
                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}<span
                        class="sr-only">(current)</span></a>
            </li>


            {% if page_obj.has_next %}

            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>

            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            </li>

            {% endif %}

        </ul>
    </nav>



    <!-- TRANSVERSAL DIA A DIA -->



</div>

{% endblock %}