{% extends 'baseListBlogTransversal.html' %}

{% block title %}
{{ object.title_tag }}
{% endblock %}

{% block content %}

<div class="section detalles ">

    <div class="row ml-auto mr-auto">
        <a href="{% url 'article_list' %}" class="h2" style="font-weight: 1000;">Blog TRANSVERSAL</a>
    </div>

    <div class="row ml-auto mr-auto acercaDe">
        <h3 class="text-primary " style="font-weight: 1000; font-size: 2em;"> {{ object.title }} </h3>
    </div>

    <div class="row ml-auto mr-auto">
        {% if object.past_Publication_Date %}

        <p class="text-muted h4" style="font-weight: 1000;">
            {{ object.past_Publication_Date }}
        </p>

        {% else %}

        <p class="text-muted h4" style="font-weight: 1000;">
            {% load i18n %}
            {% language 'es' %}
            {{ object.post_date }}
            {% endlanguage %}
        </p>

        {% endif %}
    </div>

    <div class="row ml-auto mr-auto">
        <p class="text-muted h4" style="font-weight: 1000;">
            {% for item in object.author %}
            {% if forloop.last %}
            {{ item }}
            {% else %}
            {{ item }},
            {% endif %}
            {% endfor %}
        </p>
    </div>


    <div class="row pb-5 ml-auto mr-auto">
        <div class="col-md-8 ml-auto mr-auto">

            <img class="img-fluid img-raised" src="{{ object.header_image.url }}" alt="">
        </div>

    </div>


    <div class="row pb-4 ml-auto mr-auto acercaDe" style="padding-left: 5%; text-align: justify;">
        <p>
            {{ object.body|safe }}
        </p>
    </div>

    {% if object.fileDownload %}

    <div class="row pb-4 ml-auto mr-auto acercaDe" style="padding-left: 5%;">
        <a href="{{ object.fileDownload.url }}">
            <button class="btn btn-primary btn-round">Descargar</button>
        </a>
    </div>

    {% elif object.linkToFile %}

    <div class="row pb-4 ml-auto mr-auto acercaDe" style="padding-left: 5%;">
        <a href="{{ object.linkToFile }}">
            <button class="btn btn-primary btn-round">Descargar</button>
        </a>
    </div>

    {% endif %}


    <div class="row pb-5 ml-auto mr-auto acercaDe">
        <h4 class="text-primary">Tags</h4>
    </div>


    <div class="row pb-5 ml-auto mr-auto tags acercaDe" style="padding-left: 5%;">
        {% for cat in object.category %}
        <a href="{% url 'category' cat %}"> <button class="btn btn-default btn-round">
                {{cat}}
            </button> </a>
        {% endfor %}
    </div>



    <div class="row ml-auto mr-auto acercaDe">
        <h4 class="text-primary" style="font-size: 2em;">Publicaciones Similares</h4>
    </div>

    <div class="carouselContainer pb-5">
        <div class="carousel" data-flickity='{ "groupCells": 2, "lazyLoad": 2  }'>

            {% for article in BlogPost_tag_list %}

            <div class="carousel-cell pr-5 pl-5">
                <h5>{{ article.title|truncatechars:60 }}</h5>
                <div class="img-hover-zoom">
                    <a href="{% url 'BlogTransversal-detail' article.pk %}">
                        <img class="carousel-image" data-flickity-lazyload="{{ article.header_image.url }}" />
                    </a>
                </div>
            </div>

            {% endfor %}
            
            {% for article in post_tag_list %}

            <div class="carousel-cell pr-5 pl-5">
                <h5>{{ article.title|truncatechars:60 }}</h5>
                <div class="img-hover-zoom">
                    <a href="{% url 'article-detail' article.pk %}">
                        <img class="carousel-image" data-flickity-lazyload="{{ article.header_image.url }}" />
                    </a>
                </div>
            </div>

            {% endfor %}

            {% for article in event_tag_list %}

            <div class="carousel-cell pr-5 pl-5">
                <h5>{{ article.title|truncatechars:60 }}</h5>
                <div class="img-hover-zoom">
                    <a href="{% url 'event-detail' article.pk %}">
                        <img class="carousel-image" data-flickity-lazyload="{{ article.header_image.url }}" />
                    </a>
                </div>
            </div>

            {% endfor %}

            

        </div>
    </div>

</div>


{% endblock %}