{% extends 'baseBackend.html' %}

{% block title %}
Eliminar Lectura Recomendada
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<br>
<br>
<h1>Eliminar Lectura Recomendada</h1>
<br>
<br>
<h2>Eliminar: {{ object.title }} </h2>
<div class="form-group">

    <form method="POST">
        {% csrf_token %}

        <strong>¿Estás seguro de querer eliminar el MicroSitio con nombre: {{ object.title }} ? </strong>
        <br>
        <br>
        <button class="btn btn-danger">Eliminar Lectura Recomendada</button>

</div>

{% else %}
<br>
<br>
<h1>No eres permitido aquí! (y lo sabes...)</h1>

{% endif %}

{% endblock %}