{% extends 'baseBackend.html' %}

{% block title %}
Eliminar Evento
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == event.author.id %}

<br>
<br>
<h1>Eliminar Evento</h1>
<br>
<br>
<h2>Eliminar: {{ event.title }} </h2>
<div class="form-group">

    <form method="POST">
        {% csrf_token %}

        <strong>¿Estás seguro de querer eliminar el evento con nombre: {{ event.title }} ? </strong>
        <br>
        <br>
        <button class="btn btn-danger">Eliminar Evento</button>

</div>

{% else %}

<br>
<br>
<h1 style="text-align: justify;">Tú no creaste este evento, por lo tanto, no puedes eliminarlo. Inicia sesión con las credenciales del autor original
    para eliminar el evento o comunícate con él para eliminarlo.</h1>

{% endif %}

{% else %}
<br>
<br>
<h1>No eres permitido aquí! (y lo sabes...)</h1>

{% endif %}

{% endblock %}