{% extends 'base.html' %}

{% block title %}
Búsqueda: {{ search }}
{% endblock %}

{% block content %}

{% if category_posts %}

    <div class="section">

        <div class="row ml-auto mr-auto">
            <h2 style="font-weight: 1000;">Búsqueda: {{ search }}</h2>

        </div>

        <!-- TRANSVERSAL DIA A DIA -->

        {% for post in category_posts %}

        <div class="row ml-auto mr-auto diaLanding" style="justify-content: space-evenly;">

            <div class="col-md-4 ml-auto mr-auto ">
                <div class="img-hover-zoom">
                    <a href="{% url 'article-detail' post.pk %}"> <img class="img-fluid img-raised"
                            src="{{ post.header_image.url }}"
                            alt=""></a>
                </div>
            </div>

            <div class="col-md-8 ml-auto mr-auto">
                <a href="{% url 'article-detail' post.pk %}">
                    <h4 class="text-primary">{{ post.title }}</h4>
                </a>

                <h5>{{ post.snippet }}</h5>
            </div>

        </div>

        <hr>

        {% endfor %}

        {% for event in category_posts_events %}

        <div class="row ml-auto mr-auto diaLanding" style="justify-content: space-evenly;">

            <div class="col-md-4 ml-auto mr-auto ">
                <div class="img-hover-zoom">
                    <a href="{% url 'event-detail' event.pk %}"> <img class="img-fluid img-raised"
                            src="{{ event.header_image.url }}"
                            alt=""></a>
                </div>
            </div>

            <div class="col-md-8 ml-auto mr-auto">
                <a href="{% url 'event-detail' event.pk %}">
                    <h4 class="text-primary">{{ event.title }}</h4>
                </a>

                <h5>{{ event.snippet }}</h5>
            </div>

        </div>

        <hr>

        {% endfor %}

        {% for event in category_blogposts %}

        <div class="row ml-auto mr-auto diaLanding" style="justify-content: space-evenly;">

            <div class="col-md-4 ml-auto mr-auto ">
                <div class="img-hover-zoom">
                    <a href="{% url 'BlogTransversal-detail' event.pk %}"> <img class="img-fluid img-raised"
                            src="{{ event.header_image.url }}"
                            alt=""></a>
                </div>
            </div>

            <div class="col-md-8 ml-auto mr-auto">
                <a href="{% url 'BlogTransversal-detail' event.pk %}">
                    <h4 class="text-primary">{{ event.title }}</h4>
                </a>

                <h5>{{ event.snippet }}</h5>
            </div>

        </div>

        <hr>

        {% endfor %}



        <!-- TRANSVERSAL DIA A DIA -->



    </div>

{% elif category_posts_events %}

    <div class="section">

        <div class="row ml-auto mr-auto">
            <h2 style="font-weight: 1000;">Búsqueda: {{ search }}</h2>

        </div>

        <!-- TRANSVERSAL DIA A DIA -->

        {% for event in category_posts_events %}

        <div class="row ml-auto mr-auto diaLanding" style="justify-content: space-evenly;">

            <div class="col-md-4 ml-auto mr-auto ">
                <div class="img-hover-zoom">
                    <a href="{% url 'event-detail' event.pk %}"> <img class="img-fluid img-raised"
                            src="{{ event.header_image.url }}"
                            alt=""></a>
                </div>
            </div>

            <div class="col-md-8 ml-auto mr-auto">
                <a href="{% url 'event-detail' event.pk %}">
                    <h4 class="text-primary">{{ event.title }}</h4>
                </a>

                <h5>{{ event.snippet }}</h5>
            </div>

        </div>

        <hr>

        {% endfor %}

        {% for event in category_blogposts %}

        <div class="row ml-auto mr-auto diaLanding" style="justify-content: space-evenly;">

            <div class="col-md-4 ml-auto mr-auto ">
                <div class="img-hover-zoom">
                    <a href="{% url 'BlogTransversal-detail' event.pk %}"> <img class="img-fluid img-raised"
                            src="{{ event.header_image.url }}"
                            alt=""></a>
                </div>
            </div>

            <div class="col-md-8 ml-auto mr-auto">
                <a href="{% url 'BlogTransversal-detail' event.pk %}">
                    <h4 class="text-primary">{{ event.title }}</h4>
                </a>

                <h5>{{ event.snippet }}</h5>
            </div>

        </div>

        <hr>

        {% endfor %}



        <!-- TRANSVERSAL DIA A DIA -->



    </div>

{% elif category_blogposts %}

    <div class="section">

        <div class="row ml-auto mr-auto">
            <h2 style="font-weight: 1000;">Búsqueda: {{ search }}</h2>

        </div>

        <!-- TRANSVERSAL DIA A DIA -->

        {% for event in category_blogposts %}

        <div class="row ml-auto mr-auto diaLanding" style="justify-content: space-evenly;">

            <div class="col-md-4 ml-auto mr-auto ">
                <div class="img-hover-zoom">
                    <a href="{% url 'BlogTransversal-detail' event.pk %}"> <img class="img-fluid img-raised"
                            src="{{ event.header_image.url }}"
                            alt=""></a>
                </div>
            </div>

            <div class="col-md-8 ml-auto mr-auto">
                <a href="{% url 'BlogTransversal-detail' event.pk %}">
                    <h4 class="text-primary">{{ event.title }}</h4>
                </a>

                <h5>{{ event.snippet }}</h5>
            </div>

        </div>

        <hr>

        {% endfor %}



        <!-- TRANSVERSAL DIA A DIA -->



    </div>


{% else %}

    <div class="section">
        <div class="row ml-auto mr-auto">
            <h2 style="font-weight: 1000;">Lo sentimos, tu búsqueda no arrojó ningún resultado.</h2>

        </div>
    </div>
    
{% endif %}

{% endblock %}