{% extends 'baseListBlogTransversal2.html' %}

{% block title %}
Blog Transversal
{% endblock %}

{% block content %}

<div class="section">

    <div class="row ml-auto mr-auto">
        <h2 class="col-12" style="font-weight: 1000; color: black">ENTRADAS</h2>
        <hr class="ml-3" align="left" style="height: 1px; width: 50%; background-color: black;">

    </div>

    <br>

    <!-- TRANSVERSAL DIA A DIA -->


    {% for post in object_list %}

    <div class="row ml-auto mr-auto diaLanding py-3" style="justify-content: space-evenly;  background-color: gray;">

        <div class="col-md-4 ml-auto mr-auto ">
            <div class="img-hover-zoom">
                <a href="{% url 'BlogTransversal-detail' post.pk %}"> <img class="img-fluid img-raised"
                        src="{{ post.header_image.url }}" alt=""></a>
            </div>
        </div>

        <div class="col-md-8 ml-auto mr-auto">
            <p class="text-primary h4" style="font-weight: 1000;">
                {% if post.author and post.optional_author %}

                {% for item in post.author %}

                {{ item }},

                {% endfor %}

                {{ post.optional_author }}

                {% elif post.author %}

                {% for item in post.author %}

                {% if forloop.last %}
                {{ item }}
                {% else %}
                {{ item }},
                {% endif %}

                {% endfor %}

                {% elif post.optional_author %}

                {{ post.optional_author }}

                {% endif %}

            </p>

            <a href="{% url 'BlogTransversal-detail' post.pk %}">
                <h4 style="color: white; font-size: 1.7em;">{{ post.title }}</h4>
            </a>

            <h5 style="color: white; font-size: 1.2em;">{{ post.snippet }}</h5>

        </div>

    </div>

    <hr>

    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}

            <li class="page-item">
                <a style="color: black;" class="page-link" href="?page=1">&laquo; Primera</a>
            </li>

            <li class="page-item">
                <a style="color: black;" class="page-link"
                    href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>

            {% endif %}


            <li class="page-item active">
                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}<span
                        class="sr-only">(current)</span></a>
            </li>


            {% if page_obj.has_next %}

            <li class="page-item">
                <a style="color: black;" class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>

            <li class="page-item">
                <a style="color: black;" class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            </li>

            {% endif %}

        </ul>
    </nav>


    <!-- TRANSVERSAL DIA A DIA -->



</div>

{% endblock %}