{% extends 'baseListBlogTransversal2.html' %}

{% block title %}
Blog Transversal
{% endblock %}

{% block content %}

<div class="section">


    <div class="row ml-auto mr-auto">
        <h2 class="col-12" style="font-weight: 1000; color: black">IDEAS TRANSVERSALES</h2>
        <hr class="ml-3" align="left" style="height: 1px; width: 50%; background-color: black;">

    </div>

    <br>

    <div class="row ml-auto mr-auto">

        {% for post in resumen %}
        <div class="col-12 col-md-6 mb-2 ml-auto mr-auto">

            <div class="img-hover-zoom" style="background: black;">

                <a class="d-none d-lg-block" href="{% url 'testBlogDetail' post.pk %}">
                    <img class="d-block img-fluid" src="{{ post.header_image.url }}" alt="Slides"
                        style="height: 42vh; width: auto; opacity: .55; object-fit: contain; display: block; margin-left: auto; margin-right: auto;">
                </a>

                <a class="d-lg-none" href="{% url 'testBlogDetail' post.pk %}">
                    <img class="d-block img-fluid" src="{{ post.header_image.url }}" alt="Slides"
                        style="height: 33vh; width: auto; opacity: .55; object-fit: contain; display: block; margin-left: auto; margin-right: auto;">
                </a>

                <div class="carousel-caption d-none d-lg-block pl-3 mb-0 pb-3">

                    <p class="text-primary h4 mb-0 pb-0" style="font-weight: 1000;">
                        {% if post.author and post.optional_author %}

                        {% for item in post.author %}

                        {{ item }},

                        {% endfor %}

                        {{ post.optional_author }}

                        {% elif post.author %}

                        {% for item in post.author %}

                        {% if forloop.last %}
                        {{ item }}
                        {% else %}
                        {{ item }},
                        {% endif %}

                        {% endfor %}

                        {% elif post.optional_author %}

                        {{ post.optional_author }}

                        {% endif %}

                    </p>

                    <a class="mb-0 pb-0 h2" style="font-weight: 1000;" href="{% url 'testBlogDetail' post.pk %}">
                        {{ post.title|truncatewords:5 }}
                    </a>
                    {% comment %} <br> {% endcomment %}
                    {% comment %} {{ slide.subtitle }} {% endcomment %}
                </div>

                <div class="carousel-caption d-lg-none pl-3 mb-0 pb-3">

                    <p class="text-primary  h6 mb-0 pb-0" style="font-weight: 1000;">
                        {% if post.author and post.optional_author %}

                        {% for item in post.author %}

                        {{ item }},

                        {% endfor %}

                        {{ post.optional_author }}

                        {% elif post.author %}

                        {% for item in post.author %}

                        {% if forloop.last %}
                        {{ item }}
                        {% else %}
                        {{ item }},
                        {% endif %}

                        {% endfor %}

                        {% elif post.optional_author %}

                        {{ post.optional_author }}

                        {% endif %}

                    </p>

                    <a class="mb-0 pb-0 h4 " style="font-weight: 1000;" href="{% url 'testBlogDetail' post.pk %}">
                        {{ post.title|truncatewords:5 }}
                    </a>
                    {% comment %} <br> {% endcomment %}
                    {% comment %} {{ slide.subtitle }} {% endcomment %}
                </div>

            </div>

        </div>
        {% endfor %}

    </div>

    <div class="row ml-auto mr-auto">
        <h2 class="col-6 d-none d-lg-block" style="font-weight: 1000; color: black;">ENTRADAS</h2>

        <a class="col-6 d-none d-lg-block" href="{% url 'testBlog' %}">
            <h2 style="font-weight: 1000; color: black; text-align: right;">Ver más ➔</h2>
        </a>

        <h3 class="col-6 d-lg-none" style="font-weight: 1000; color: black;">ENTRADAS</h3>

        <a class="col-6 d-lg-none" href="{% url 'testBlog' %}">
            <h3 style="font-weight: 1000; color: black; text-align: right;">Ver más ➔</h3>
        </a>

        <hr class="ml-3" align="left" style="height: 1px; width: 50%; background-color: black;">

    </div>

    <br>

    <!-- TRANSVERSAL DIA A DIA -->


    {% for post in entradas %}

    <div class="row mx-3 diaLanding py-3" style="justify-content: space-evenly;  background-color: rgb(88, 86, 87);">

        <div class="col-md-4 ml-auto mr-auto ">
            <div class="img-hover-zoom">
                <a href="{% url 'testBlogDetail' post.pk %}"> <img class="img-fluid img-raised"
                        src="{{ post.header_image.url }}" alt=""></a>
            </div>
            {% comment %} <hr style="color: white; border: none; border-left: 1px solid hsla(200, 10%, 50%,100); height: 80%; width: 3px;"> {% endcomment %}
        </div>

        <div class="col-md-8 ml-auto mr-auto">
            <p class="text-primary h4" style="font-weight: 1000;">
                {% if post.author and post.optional_author %}

                {% for item in post.author %}

                {{ item }},

                {% endfor %}

                {{ post.optional_author }}

                {% elif post.author %}

                {% for item in post.author %}

                {% if forloop.last %}
                {{ item }}
                {% else %}
                {{ item }},
                {% endif %}

                {% endfor %}

                {% elif post.optional_author %}

                {{ post.optional_author }}

                {% endif %}

            </p>

            <a href="{% url 'testBlogDetail' post.pk %}">
                <h4 style="color: white; font-size: 1.7em;">{{ post.title }}</h4>
            </a>

            <h5 style="color: white; font-size: 1.2em;">{{ post.snippet }}</h5>

        </div>

    </div>

    <hr>

    {% endfor %}


    <!-- TRANSVERSAL DIA A DIA -->



</div>

{% endblock %}