{% extends 'baseListThink.html' %}

{% block title %}
Think Tank
{% endblock %}

{% block content %}

<div class="section thinkTank acercaDe">

    <div class="row ml-auto mr-auto">
        <h2 style="font-weight: 1000;">THINK TANKS</h2>

    </div>

    <div class="row ml-auto mr-auto">
        <h3 class="title text-primary" style="font-weight: 1000;">¿Qué es un think tank?</h3>

    </div>

    <div class="row ml-auto mr-auto">
        <p>Un think tank (tanque de pensamiento, laboratorio de ideas, centro de análisis, gabinete de
            estrategia) es una organización/institución sin fines de lucro dedicada a la generación de ideas
            y conocimiento aplicado. Por lo general es una organización independiente del gobierno y
            financiada con fondos privados.</p>

    </div>

    <div class="row ml-auto mr-auto">
        <h3 class="title text-primary" style="font-weight: 1000;">¿Por qué surgen los think tanks?</h3>

    </div>

    <div class="row ml-auto mr-auto">
        <p>Frente a la dificultad de las universidades para producir resultados aplicables, prácticos y
            expeditos, durante la posguerra surgió la figura del think tank como una organización proveedora
            de ideas y soluciones, tanto al sector público como al privado. Por lo general los think tanks
            son considerados organizaciones civiles o privadas, apartidistas, críticas e independientes.</p>

    </div>

    <div class="row ml-auto mr-auto">
        <h3 class="title text-primary" style="font-weight: 1000;">¿Dónde se ubica México en el mundo del
            think tankery?</h3>

    </div>

    <div class="row ml-auto mr-auto">
        <p>En México existen 74 think tanks según este índice, lo que ubica al país en el número 16 por
            número de think tanks (Argentina tiene 146 think tanks y se ubica en el número 7 mientras que
            Brasil tiene 93 y está en el lugar 11). Según el Think Tank Index en México existe un déficit de
            think tankery en comparación con países similares tanto de América Latina, además de que todos
            están concentrados en la Ciudad de México.</p>

    </div>

    <div class="row ml-auto mr-auto">
        <h3 class="title text-primary" style="font-weight: 1000;">¿Qué distingue a los think tanks de las
            universidades?</h3>

    </div>

    <div class="row ml-auto mr-auto">
        <p>Los think tanks plantean preguntas de política pública (policy questions) en términos de la
            solución de los problemas públicos (problem solving oriented). De ahí que también se conozcan
            como “think-and-do-tanks” por su perfil práctico y aplicado, que no necesariamente caracteriza a
            la academia u otras organizaciones ciudadanas. </p>

    </div>

</div>

{% endblock %}